<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>西施DIY蛋糕店</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/other.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>全部分类</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>首页</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>个人中心</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>购物车<span> n</span>件</a>
			</p>
		</div>
	</header>

    <article>
    	<section class="container-fluid">
    		<div class="row">  				
    				<p class="left-tni-per-con">订单类型：</p>
    				<p class="right-tni-per-con">xxx</p>
    				<p class="left-tni-per-con">取货时间：</p>
    				<p class="right-tni-per-con">
    				<select>
  					<option value ="">now</option>
  					<option value ="">8:00-10:00</option>
  					<option value="">10:00-12:00</option>
  					<option value="">12:00-14:00</option>
  					<option value ="">14:00-16:00</option>
  					<option value="">16:00-18:00</option>
  					<option value="">18:00-20:00</option>
  					<option value="">20:00-22:00</option>
					</select>
					</p>
    				<p class="left-tni-per-con">付款方式：</p>
    				<p class="right-tni-per-con">
    					<select>
    						<option value="">会员卡</option>
  							<option value="">支付宝</option>
  							<option value="">微信</option>
    					</select>
    				</p>
    		</div>
    		<p >总金额：<span>xxx</span></p>
    		<p><a>取消</a><a>确认付款</a><p>
		</section>
		</article>

		<footer>
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	    		   <p>
	    		   		<span>联系我们</span>
	               </p>
	    		</div>
	    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	    			<p>
						<span>邮箱:&nbsp;xxxxxx@xxx.com </span>
						<span>电话:&nbsp;xxx</span>	
					</p>
	    		</div>
	    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    			<p>
						<span>版权所有:&nbsp;西施DIY蛋糕店</span>
					</p>
	    		</div>
	    	</div>
	    </div>
	</footer>
	
</body>
</html>