<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>商品列表</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery.dataTables.min.css" rel="stylesheet">
<link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/businessCenter">商家信息</a></li>
  <li role="presentation" class="active"><a href="#">产品列表</a></li>
</ul>
	<div class="add">
        <a class="btn btn-conment" href="#add" data-toggle="modal" ><span class="glyphicon glyphicon-plus">新建产品</a>
    </div>

   <div class="container-fluid content-top">
            <table  class="tb-per-ord dataTable product-list">
                <thead>
                    <tr>
                    <th>产品类型</th>
                    <th>产品名称</th>>
                    <th>产品描述</th>
                    <th>生产厂家</th>
                    <th>生产日期</th>
                    <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>食品</td>
                    <td>老坛酸菜牛肉面</td>
                    <td><p class="busi-pro-dec">老坛酸菜牛肉面</p></td>
                    <td>康师傅</td>
                    <td>2016-01-17</td>
                    <td ><button class="btn btn-conment btn-margin btn-change" data-toggle="modal" href="#gridSystemModalLabel">修改</button><button class="btn btn-conment btn-margin btn-delete">删除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">修改产品信息</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal" id="form-change" action="/businessProductList/change" method="post">
  <div class="form-group">
    <label for="bus-product-type" class="col-sm-3 control-label">产品类型：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="bus-product-type" name="type">
    </div>
  </div>
  <div class="form-group">
    <label for="bus-product-name" class="col-sm-3 control-label">产品名称：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="bus-product-name" name="name">
    </div>
  </div>
    <div class="form-group">
    <label for="bus-product-factory" class="col-sm-3 control-label">生产厂家：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="bus-product-factory" name="factory">
    </div>
  </div>
   <div class="form-group">
    <label for="bus-product-date" class="col-sm-3 control-label">生产日期：</label>
    <div class="col-sm-8">
      <input type="date" class="form-control" id="bus-product-date" name="date">
    </div>
  </div>
  <div class="form-group">
    <label for="product-conment" class="col-sm-3 control-label">产品描述：</label>
    <div class="col-sm-8">
    <textarea class="form-control" rows="3" id="bus-product-desc" name="desc"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="bus-product-name" class="col-sm-3 control-label">产品价格(元)：</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="bus-product-price" name="price">
    </div>
  </div>
  <input type="hidden" id="bus-product-id" name="id" />
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-change-commit">提交修改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="add">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">增加产品</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal form_login" id="form-add" action="/businessProductList/add" method="post">
  <div class="form-group">
    <label for="bus-product-type" class="col-sm-3 control-label">产品类型：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="bus-product-type" required name="type">
    </div>
  </div>
  <div class="form-group">
    <label for="bus-product-name" class="col-sm-3 control-label">产品名称：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="product-name" required name="name">
    </div>
  </div>
    <div class="form-group">
    <label for="bus-product-company" class="col-sm-3 control-label">生产厂家：</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="bus-product-company" required name="factory">
    </div>
  </div>
   <div class="form-group">
    <label for="bus-product-date" class="col-sm-3 control-label">生产日期：</label>
    <div class="col-sm-8">
      <input type="date" class="form-control" id="bus-product-date" required name="date">
    </div>
  </div>
  <div class="form-group">
    <label for="product-conment" class="col-sm-3 control-label">产品描述：</label>
    <div class="col-sm-8">
    <textarea class="form-control" rows="3" required name="desc"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="bus-product-name" class="col-sm-3 control-label">产品价格(元)：</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="bus-product-name" value="" required name="price">
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-add">确认增加</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dataTables.min.js"></script>
		<script src="js/dataTables.bootstrap.min.js"></script>
		<script src="js/index.js"></script>

    <script>
      $(function() {
        $.post('/businessProductList', {}, function(data) {
          var lists = JSON.parse(data);

          $('.product-list > tbody').children().first().remove();
          lists.map(function(list) {
            var tr = $('<tr></tr>');
            tr.append( $('<td></td>').text(list.product_type) );
            tr.append( $('<td></td>').text(list.product_name) );
            tr.append( $('<td></td>').text(list.product_description) );
            tr.append( $('<td></td>').text(list.product_factory) );
            tr.append( $('<td></td>').text(list.product_date) );
            tr.append( $('<td></td>').html('<button class="btn btn-conment btn-margin btn-change" data-toggle="modal" href="#gridSystemModalLabel" data-product-id="'+ list.product_id + '" data-product-type="' + list.product_type + '" data-product-name="' + list.product_name + '" data-product-factory="' + list.product_factory + '" data-product-desc="' + list.product_description + '" data-product-price="' + list.product_price + '">修改</button><button class="btn btn-conment btn-margin btn-delete" data-product-id="'+ list.product_id + '">删除</button>') );

            $('.product-list > tbody').append(tr);
          });

          $('.btn-add').on('click', function(e) {
            if($('#product-date').val() !== '') {
              $('#form-add').submit();
            } else {
              alert('请选择生产日期');
            }
          });

          $('.btn-change').on('click', function(e) {
            $('#bus-product-type').val($(e.target).data('product-type'));
            $('#bus-product-name').val($(e.target).data('product-name'));
            $('#bus-product-factory').val($(e.target).data('product-factory'));
            $('#bus-product-desc').val($(e.target).data('product-desc'));
            $('#bus-product-price').val($(e.target).data('product-price'));
            $('#bus-product-id').val($(e.target).data('product-id'));
          });

          $('.btn-change-commit').on('click', function(e) {
            if($('#bus-product-date').val() !== '') {
              $('#form-change').submit();
            } else {
              alert('请选择生产日期');
            }
          });

          $('.btn-delete').on('click', function(e) {
            var product_id = $(e.target).data('product-id');

            $.post('/businessProductList/delete', {
              product_id: product_id,
            }, function(data) {
              location.reload();
            });
          });
        });
      });
    </script>
</body>
</html>