<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>商家信息</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">商家信息</a></li>
  <li role="presentation"><a href="/businessProductList">产品列表</a></li>
</ul>

<form class="form-horizontal form_login content-top" action="/businessCenter/saveChange" method="post">
  <div class="form-group">
    <label for="business-name" class="col-sm-offset-2 col-sm-2 control-label">商家名称：</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="business-name" disabled="disabled" value="蛋糕店">
    </div>
  </div>
  <div class="form-group">
    <label for="business-level" class="col-sm-offset-2 col-sm-2 control-label" value="旗舰店/一般/小商户">商家级别：</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="business-level" disabled="disabled">
    </div>
  </div>
  <div class="form-group">
    <label for="business-phone" class="col-sm-offset-2 col-sm-2 control-label">客服号码：</label>
    <div class="col-sm-4">
      <input type="phone" class="form-control" id="business-phone" name="business-phone" value="18677615595">
    </div>
  </div>
    <div class="form-group">
    <label for="business-address" class="col-sm-offset-2 col-sm-2 control-label">注册地址：</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="business-address" disabled="disabled" value="北京市海淀区西土城路10号北京邮电大学学十三">
    </div>
  </div>
    <div class="form-group">
    <label for="date" class="col-sm-offset-2 col-sm-2 control-label">创建时间：</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="business-create-time" disabled="disabled">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <button type="submit" class="btn btn-conment">保存修改</button>
    </div>
  </div>
</form>

<script src="js/jquery.min.js"></script>
<script>
  $(function() {
    $.post('/businessCenter', {}, function(data) {
      $('#business-name').val(data.business_name);
      $('#business-level').val(data.business_level);
      $('#business-phone').val(data.business_phone);
      $('#business-address').val(data.business_address);
      $('#business-create-time').val(data.business_create_time);
    });
  });
</script>
</body>
</html>