<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>订单列表</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery.dataTables.min.css" rel="stylesheet">
<link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid content-top">
            <table  class="tb-per-ord dataTable">
                <thead>
                    <tr>
                    <th>商品名称</th>
                    <th>单价(元)</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>朗姆芝士</td>
                    <td>86.0</td>
                    <td>1</td>
                    <td>完成</td>
                    <td ><button class="btn btn-conment" data-toggle="modal" href="#gridSystemModalLabel">评价</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">评价订单</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal form_login">
  <div class="form-group">
    <label for="product-name" class="col-sm-3 control-label">产品名称：</label>
    <div class="col-sm-8">
      <p class="c-p-pro">郎姆芝士</p>
    </div>
  </div>
  <div class="form-group">
    <label for="product-conment" class="col-sm-3 control-label">评价：</label>
    <div class="col-sm-8">
    <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">提交评价</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script>
    $(function() {
        $.post('/clientOrder', {}, function(data) {
            $($('tbody').children()[0]).remove();

            data.orderInfo.map(function(order) {
                var status = order.order_status === 0 ? '未完成' : '完成';

                var tr = $('<tr></tr>');
                tr.append( $('<td></td>').text(order.product_name) );
                tr.append( $('<td></td>').text(order.price.toFixed(2)) );
                tr.append( $('<td></td>').text(order.count) );
                tr.append( $('<td></td>').text(status) );

                if(order.commented) {
                  tr.append( $('<td></td>').append( $('<a></a>').text('已评价').attr('href', 'javascript:').css('color', 'gray').css('cursor', 'default').css('text-decoration', 'none') ) );
                } else {
                  // tr.append( $('<td></td>').append( $('<a></a>').text('去评价').attr('id', order.product_id).css('cursor', 'pointer') ) );
                  tr.append( $('<td></td>').append( $('<button class="btn btn-conment" data-toggle="modal" href="#gridSystemModalLabel">评价</button>').attr('id', order.product_id) ) );
                }
                
                $('tbody').append(tr);

                $('.btn-conment').on('click', function(e) {
                  
                });
            });
        });
    });
</script>
<script type="text/javascript">
    /*先取弹窗中Input框相应的值，打开动画，发送ajax请求，成功or失败，关闭动画，展示成功或失败信息*/
  
</script>
</body>
</html>