<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>用户中心</title>
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/other.css" rel="stylesheet">
</head>
<body>

    <article>
    	<section class="container-fluid">
    		<div class="row">
    			<div class="col-md-6 col-md-offset-3">
    				<p style="text-align:center;"><a href="/clientOrder">1、订单查询</a></p>
    			</div>
    			<div  class="col-md-6 col-md-offset-3">
    				<p style="text-align:center;"><a>2、产品评价</a></p>
    			</div>
    		</div>	
		</section>
		</article>
	
</body>
</html>