<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>西施DIY蛋糕店</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/other.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>全部分类</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>首页</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>个人中心</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>购物车<span> n</span>件</a>
			</p>
		</div>
	</header>

    <article>
    	<section class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img-pro-detail">
					<img src="images/cake.jpg">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 desc-pro-detail">
					<form class="row">
						<p class="name-pro-dec">朗姆芝士</p>
						<div class="form-pro-dec">
							<input type="radio" value="Submit" name="mini">
							<label for="mini">6寸/￥86</label>
						</div>
						<div class="form-pro-dec">	
							<input type="radio" value="Submit" name="small">
							<label for="small">8寸/￥136</label>
						</div>
						<div class="form-pro-dec">
							<input type="radio" value="Submit" name="big">
							<label for="big">10寸/￥176</label>
						</div>
						<div class="form-pro-dec">
							<input type="radio" value="Submit" name="max">
							<label for="max">12寸/￥216</label>
						</div>
						<p class="shopping-cart-pro-dec">加入购物车</p>
					</form>
				</div>
			</div>		
		</section>
		<section class="text-dec">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<P>描述：</P>
				<p>源自自然，弥漫着森林中坚果的香气，浓情溢满的巧克力和奶油香浓，悠长。心醉蜜意让你感受到了甜苦相随的爱情味道。</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p>主料：</p>
				<p>淡奶油,巧克力,黄油,富多果</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p>口味：</p>
				<p>甜蜜、浓郁</p>
			</div>
			
		</section>
		</article>

		<footer>
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	    		   <p>
	    		   		<span>联系我们</span>
	               </p>
	    		</div>
	    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	    			<p>
						<span>邮箱:&nbsp;xxxxxx@xxx.com </span>
						<span>电话:&nbsp;xxx</span>	
					</p>
	    		</div>
	    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    			<p>
						<span>版权所有:&nbsp;西施DIY蛋糕店</span>
					</p>
	    		</div>
	    	</div>
	    </div>
	</footer>
	
</body>
</html>