<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>西施DIY蛋糕店</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/other.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>全部分类</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>首页</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>个人中心</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>购物车<span> n</span>件</a>
			</p>
		</div>
	</header>

    <article>
    	<section class="container-fluid">
    		<table  class="tb-per-ord">
    			<thead>
    				<tr>
    				<td>商品名称</td>
    				<td>单价</td>
    				<td>数量</td>
    				<td>操作</td>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    				<td> <input type="checkbox">朗姆芝士</td>
    				<td>86.0</td>
    				<td>1</td>
    				<td>删除</td>
    				</tr>
    			</tbody>
    		</table>

		</section>
		</article>

		<footer>
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	    		   <p>
	    		   		<span>联系我们</span>
	               </p>
	    		</div>
	    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	    			<p>
						<span>邮箱:&nbsp;xxxxxx@xxx.com </span>
						<span>电话:&nbsp;xxx</span>	
					</p>
	    		</div>
	    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    			<p>
						<span>版权所有:&nbsp;西施DIY蛋糕店</span>
					</p>
	    		</div>
	    	</div>
	    </div>
	</footer>
	
</body>
</html>