<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

<title>西施DIY蛋糕店</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/other.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>全部分类</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>首页</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>个人中心</a>
			</p>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>
				<a>购物车<span> n</span>件</a>
			</p>
		</div>
	</header>

    <article>
    	<section class="container-fluid">
    		<div class="row">
    			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tni-per-cen">
    				<img src="images/cake.jpg">
    				<p class="name-per-cen" style="text-align:center;">用户名</p>
    			</div>
    			<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    				<p class="left-tni-per-con">会员卡号：</p>
    				<p class="right-tni-per-con">xxx</p>
    				<p class="left-tni-per-con">余额：</p>
    				<p class="right-tni-per-con">186xxxxxx</p>
    			</div>
    		</div>
    		<a class="link-per-con">充值</a>
		</section>
		</article>

		<footer>
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	    		   <p>
	    		   		<span>联系我们</span>
	               </p>
	    		</div>
	    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	    			<p>
						<span>邮箱:&nbsp;xxxxxx@xxx.com </span>
						<span>电话:&nbsp;xxx</span>	
					</p>
	    		</div>
	    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    			<p>
						<span>版权所有:&nbsp;西施DIY蛋糕店</span>
					</p>
	    		</div>
	    	</div>
	    </div>
	</footer>
	
</body>
</html>