.nav-tabs{
	background: #BCD2EE;
}
.content-top{
	margin-top: 60px;
}
table.dataTable{
	border: 0 !important;
}
table.dataTable th, table.dataTable thead td{
	background: #BCD2EE;
	color:#fff;
}

table.dataTable td{
	border-bottom: 1px solid #BCD2EE !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active a{
	background: #BCD2EE !important;
	border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #E3E3E3 !important;
	border: 0;
}
.table-row-pad{
	padding:0 24px;
}
